# Ignore Python cache and virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore local config
*.log
*.tmp

# Don't ignore models!
# models/
# *.pkl
